@media(max-width:1200px){
    .kanban{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:768px){
    .kanban{
        grid-template-columns:1fr;
    }

    header{
        flex-direction:column;
        text-align:center;
    }

    nav ul{
        flex-direction:column;
    }
}